.searchBar {
  padding-left: 0.5em;
  width: 40em;
  background-color: #205375;
  height: 3em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 10px;
}
.pic {
  height: 2em;
  width: 2em;
}
.pic img {
  width: 100%;
}
.place {
  width: 90%;
}
.place input {
  width: 90%;
  background-color: #205375;
  border: 0;
  outline: 0;
  text-align: left;
}
