* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.form-container {
  margin-top: 3em;
  margin-left: 20%;
  position: relative;
  width: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  box-shadow: black 2px 2px 10px;
  border-radius: 15px;
  padding: 2em 0;
}
.left-side1 h1 {
  margin-bottom: 1em;
}
.right-side1 h1 {
  margin-bottom: 1em;
}
.left-side1 input {
  margin-bottom: 1em;
  background-color: #c4c4c4;
  width: 20em;
  height: 3em;
  outline: 0;
  border: 0;
}
.right-side1 input {
  margin-bottom: 1em;
  background-color: #c4c4c4;
  width: 20em;
  height: 3em;
  outline: 0;
  border: 0;
}
.estimation {
  display: block;
  padding: 1em 2em;
  border-radius: 15px;
  border: 0;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  background-color: #f66b02;
}
.submit {
  display: block;
  padding: 1em 2em;
  border-radius: 15px;
  border: 0;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.submit:hover {
  background-color: #f66b02;
}
.prix-esti {
  margin-top: 1em;
}
.right-side1 {
  margin-bottom: 2.5em;
}
