* {
  text-align: center;
}
.inpt-container {
  background-color: #d9d9d9;
  width: 70%;
  padding: 10px;
  border-radius: 15px;

  margin: 10px auto;
}
.input,
.select {
  outline: none;
  border: none;
  background-color: inherit;
  text-align: left;
  width: 90%;
  font-size: 1.2rem;
}
.head {
  color: #f66b02;
  margin: 30px 0;
}
.signIn {
  height: calc(100vh - 15em);
  margin-top: 100px;
}
.container {
  padding-top: 2em;
  width: 25em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  box-shadow: black 2px 2px 10px;
  margin-left: 35%;
  border-radius: 15px;
}
.btn {
  border: none;
  border-radius: 12px;
  background-color: #f66b02;
  width: 12.75rem;
  height: 2.75rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  margin-bottom: 1em;
}
.btn:hover {
  width: 13.75rem;
  color: #fff;
}
a {
  text-decoration: none;
  color: #000;
}

.createAcc {
  cursor: pointer;
  margin-top: 3em;
  margin-bottom: 4em;
}
::placeholder {
  color: #000;
}
a:hover {
  color: #f66b02;
}
.inputcontainer {
  display: flex;
  gap: 1em;
}
.container2 {
  width: 30em;
  padding: 2em 2em;
  box-shadow: black 2px 2px 10px;
  margin-left: 32%;
  border-radius: 15px;
}
.highlight {
  color: #f66b02;
  text-decoration: underline;
}
