* {
  font-family: "Open Sans", sans-serif;
}
.left-side {
  padding-left: 2em;
}
.left-side h1 {
  color: #205375;
  margin-top: 3em;
  margin-bottom: 1em;
}
.name {
  color: #f66b02;
  font-weight: bold;
}
.left-side p {
  font-size: 1.5em;
  margin-bottom: 2em;
  font-weight: bold;
}
.container {
  margin-top: 3em;
  display: flex;
}
.right-side {
  margin-top: 1em;
  margin-left: 10em;
  width: 50%;
}
.right-side img {
  width: 100%;
}
